00_data/MMETSP_metadata.tsv
00_data/raw/strain_*
00_data/raw/PRJNA661548/
00_data/raw/*/*fastq*
00_data/raw/*/*/*fastq*
00_data/raw/*/multiqc_data/
00_data/trimmed/strain_*
00_data/trimmed/PRJNA661548/
00_data/trimmed/*/*fastq*
00_data/trimmed/*/*/*fastq*
00_data/trimmed/*/multiqc_data/
01_mapping/ref/Skeletonema_marinoi_Ref_v1.1.2*
01_mapping/ref/Smar_v1.1.9*
01_mapping/PRJNA248394/
01_mapping/*/*/*sorted.ba*
02_isoforms/OLD/
04_VariantCalling/ref/Skeletonema_marinoi_Ref_v1.1.2*
04_VariantCalling/ref/Smar_*
04_VariantCalling/ref/R05.depth.tsv
04_VariantCalling/*/*/*.bai
04_VariantCalling/*/*/*.bam
04_VariantCalling/*/*/*.pickle
04_VariantCalling/*/*/*_marked_dup_metrics.txt
04_VariantCalling/*/*/*_4_HapCalled.*
04_VariantCalling/*/Groups/*/*.vcf.gz*
04_VariantCalling/*/Analyses/*/*.pickle
X_BLAST_DBs
zTest/
temp
